@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Tilt+Neon&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}



.navbar img {
    width: 80px;
    height: 84px;
    transition: all 0.3s;
}

.navbar img:hover {
    transform: scale(1.2);
}

.navbar .nav-item {
    width: max-content;
    transition: all 0.3s;
}

.navbar .nav-item:hover {
    transform: scale(1.2);
}


span {
    color: #ff0000;
}

.navbar .nav-item:hover {
    transform: scale(1.2);
}


h4 {
    text-align: center;
    margin-top: 100px;
}

h1 {
    margin-top: 15px;
    text-align: center;
}

.lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;


}

.contenido-carrito {
    position: fixed;
    top: 0;
    left: 100%;
    width: 400px;
    background-color:#fac8e7;
    height: 100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.active .container {
    left: calc(100% - 200px);
}

.active .contenido-carrito {
    transform: translate(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.contenido-carrito h3 {
    color: #ff0000;
    margin: 0;
    padding: 0 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

.contenido-carrito .ChekOut {
    position: absolute;
    bottom: 0;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenido-carrito .ChekOut div {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 60px;
    display: flex;
 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contenido-carrito .ChekOut div:nth-child(2) {
    background-color: rgb(168, 0, 0);
    color: #fac8e7;
}

/* TIENDA */
.tienda {
    background: #fac8e7;
    height: 200vh;
    width: 100%;
    color: #ff0000;
}

.lista .item button {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background-color: #f971c5;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
}

.lista .item button:hover{
    background-color: #ff0000;
}
/* Lista de productos */
.lista .item {
    margin: 55px;
    width: 80%;
    height: 370px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: #ff0000;
    transition: .4s;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(166, 52, 136, 0.569),
        0 10px 10px rgba(255, 4, 184, 0.223);
    background: #fea6dc;

}

.lista .item:hover {
    box-shadow: 0 3px 6px rgba(255, 0, 144, 0.44);
    transform: translate(0px, -10px);
}

.lista .item .title {
    font-weight: 600;
}

.lista .item .precio {
    margin: 10px;
    font-size: 2rem;
}

.lista .item img {
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 10%;
    height: 200px;
    width: 170px;
}


.listaTienda li{
    display: grid;
    grid-template-columns: 100pc repeat(3, 1fr);
    color: #ff0000;
    background-color: rgb(23, 223, 63);
    row-gap: 10px;
}

.listaTienda li div{
display: flex;
justify-content: center;
align-items: center;
}

.listaTienda li img{
    width: 30%;
}

.listaTienda .contador{
    margin: 0px 10px;
    color: black;
}
.botonCard{
    width: 28px;
    height: 28px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
/* BENEFICIOS */
.beneficios {
    fill: #ff0000;
    background-color: #fac8e7;
    color: red;
    font-size: 1rem;
    text-align: center;
}

.beneficios .contenido-beneficios {
    /*     display: flex; */
    justify-content: center;
    padding: 100px;
}


ul {
    list-style: none;
    margin: 50px;
}

/* footer */
footer {
    text-align: center;
    color: rgb(255, 221, 245);
    fill: #ff0000;
    background-color: #f971c5;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

/* MEDIA QUERY */

@media (min-width: 1000px) {
    .beneficios .contenido-beneficios {
        display: flex;
    }
}

@media (max-width: 900px) {


    .beneficios {
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .beneficios svg {
        height: 1rem;
        width: 2rem;
    }

    ul svg {
        height: 1rem;
    }

    .navbar-nav .nav-item2 {
        display: none;
    }

    .navbar-nav .nav-item1 {
        display: none;
    }

    .tienda {
        width: 100%;
        height: 100%;
    }

    .contenido-tienda {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .producto {
        font-size: 1rem;
        margin-top: 100px;

    }

    .tienda img {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        display: block;
        border-radius: 10%;
    }

    .tienda button {
        font-size: 1rem;
        width: 100%;

    }

    footer {
        justify-content: center;
        display: flex;
        flex-direction: column;

    }

    footer iframe {
        display: none;
    }

    footer .direccion {
        display: block;
        font-size: 10px;
    }

    footer li {
        font-size: 10px;
    }

}